.main-container {
  display: grid;
  grid-template-rows: auto;
}

section {
  padding: 2em;
}

h2 {
  font-size: 2em;
  text-align: center;
}
.tagline {
  background: aquamarine;
  display: grid;
  align-items: center;
  /* justify-content: center; */
  /* flex-direction: column; */
  grid-template-rows: 35% 1fr 1fr ;
  font-size: 1.6em
}
.tagline * {
  justify-self: center;
}
.tagline h1 {
  font-size: 2em;
  grid-row: 1;
}

.tagline sub {
  grid-row: 2;
}
.tagline a {
  text-decoration: none;
  grid-row: 3;
  display: block;
  border-radius: 15px;
  border: 3px solid;
  padding: 8px;
  border-color: black
}

.quote {
  display: grid;
  align-items: center;
  background-color: beige;
}

blockquote {
  font-style: italic
}

.quote p {
  text-align: right
}

.flexbox {
  display: flex;
  flex-direction: row;
  align-content: space-around;

}

.flexbox li {
  max-width: 33%;
  list-style-type: none;

  /* display: flex; */

  /* display: grid; 
  grid-template-rows: 35px 1fr;
  grid-template-columns: 110px 1fr; */

}
.why .flexbox li > * {
  padding: .5em
}

.why .flexbox img {
  float: left;
}

.sponsers .flexbox {
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin: .5em; */
}

.sponsers .flexbox li {
  margin: .3em;
}

.sponsers .flexbox img {

}
/* .why .flexbox li:first-child {
  grid-row: 1;
  grid-column: 1
} */



