.container {
    display: grid;
  /*   grid-template-rows: repeat(8, 12.5%); */
    grid-template-columns: repeat(4, 25%);
  /*   grid-column-gap: 10px; */
  /*   grid-row-gap: 15px; */
  }

.top-nav-bar {
    grid-column: 1 / span 4;
}
  
.navigation {
    background-color: tomato;
    display: flex;
}
  
.navigation ul {
    list-style-type: none;
    display: flex;
}