
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

ul li {
    list-style: none;
}

.flex-box-nav {
    /* list-style: none; */
    display: flex;
    /* justify-content: space-around; */

}

.flex-box-nav > li {
    flex: 0.5;
}

.flex-box-nav li:first-child {
    /* margin-right: auto; */
    flex: 2;
}

.flex-box-startrly {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin-left: 25rem; */
    /* align-self: center; */
    align-items: center;
    justify-content: space-evenly;
    /* padding: 1rem; */
    height: 25%;

}




/* .grid-container { */
    /* height: 100%; */
    /* display: grid; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: 15% 5% 15% 5% 25% 25% 5%; */
    /* justify-content: center; */
    /* align-content: center; */
    /* justify-content: space-around; */
/* } */

.quote {
    display: flex;
    flex-direction: column;
    font-style: italic;
    align-items: center;
    /* align-self: flex-end; */
    /* align-content: center; */
    background-color: aliceblue;
    /* justify-items: center; */
    /* margin: 1rem; */
}

/* .quote section {
    margin: 1rem;
} */

.quote blockquote:before{
    content: open-quote;
}

.quote blockquote:after {
    content: close-quote;
}

.quote p {
    align-self: flex-end;
    margin-right: 4rem;
}

.quote p:before {
    content: "--";
}

.flex-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.why {
    display: grid;
    text-align: center;
}

.why-subs {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    flex-wrap: wrap;
    /* max-width: 3rem; */
}

.why-subs img {
    /* object-fit: contain; */
    align-self: flex-start;
    margin-left: 3rem;
    margin-right: 1rem;
}

.img-text {
    display: flex;
    flex-direction: row;
    /* margin: 2rem; */
    /* justify-content: space-between; */
}

.why-subs p {
    max-width: 150px;
    /* margin-left: 1rem; */
    /* align-self: flex-end; */
    /* flex-shrink: 1; */
    /* width: auto; */
}

.flex-boxes img {
    object-fit: contain;
    margin: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* width: 45%; */
    margin: auto;
  }

.meet-the-team {
    grid-column: 1 / 4;
    text-align: center;
    height: auto;
    border-bottom: none;
}


.team-members {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.team-members li {
    margin: 3rem;
  }
  
 .team-members span {
    display: block;
    margin: 1rem;
    font-size: 1rem;;
  }

 .team-members img {
    border-radius: 50%;
    border: 1px solid white;
    display: block;
  }

/* .grid-team {  */
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* padding: 6rem; */
    /* justify-content: space-around; */
    /* margin: 1em; */
    /* justify-content: center;
    align-content: space-between; */
    /* justify-content: center; */
 /* } */

/* .grid-team div {
    display: grid;
    text-align: center;
}

.grid-team img {
    object-fit: contain;
    /* margin: 4rem; */
/* }  */

/* .grid-team:nth-child(4) {
    grid-column: 2 / 3;
} */

/* .meet-the-team .grid-boxes {
    height: 95%;
} */



/* .flex-team span {
    text-align: center;
} */




/* .why {
    display: flex;
    background-color: aqua;
}

.meet-the-team {
    background-color: yellowgreen;
} */

.sponsors {
    display: grid;
    text-align: center;
    background-color: beige;
}

/* .footer {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    background-color: brown;
}

.footer div:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
} */

.footer {
    /* list-style: none; */
    display: flex;
    /* justify-content: space-around; */
    background-color: brown;

}

.footer > div {
    flex: 0.2;
}

/* .footer div:first-child {
    flex: 2;
} */