.container {
    display: grid;
    grid-template-rows: 6.25% 25% 12.5% 12.5% 12.5% 12.5% 6.25%
}
.nav {
    grid-row: 1/2;
    background-color: aquamarine;

     
}
#navlink {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.content {
    display:flex;
    /* flex-wrap:wrap; */
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}
