* {
  font-family: 'Space Mono', monospace;
}

li {
  list-style-type: none;
}


li img {
  display: inline-block;
  margin-bottom: 2px;
}

li p {
  display: flex;
}

nav li {
  display: inline-flex;
  padding: 1rem;
}

nav ul {
  display: flex;
}

/* -----GRID DECLARATIONS----- */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}


/* nav, footer {
  grid-column: 1 / 3;
} */
/* -----end GRID DECLARATIONS----- */

.container>section {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;
}

body {
  width: 100%;
}

ul {
  padding-inline-start: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container>section.welcome {
  margin-top: 5rem;
}

.why li {
  display: flex;
  padding: 1rem;
  width: 33%;
}

.why img {
  align-self: flex-start;
  padding: 16px
}

a.button {
  border: solid 2px pink;
  border-radius: 2px;
  color: pink;
  padding: 1em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2rem;
}

.welcome a:hover {
  
}

.team ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center
}

.team li {
  width: 33%;
  margin-bottom: 2rem;
  text-align: center;
}

.team img {
  border-radius: 100%;
  border: 6px solid pink;
  margin: 1rem;
}

.testimonial {
  padding: 1rem 6rem;
}

.testimonial p {
  align-self: flex-end;
  padding-right: 3em;
  font-style: italic;
  font-family: 'Noto Serif', serif;
  font-size: 1rem;
  line-height: 150%;
}

blockquote {
  font-style: italic;
  font-family: 'Noto Serif', serif;
  font-size: 1.25em;
  line-height: 175%;
}

.sponsors ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; 
}

footer {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

footer div {
  margin: 4rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer ul li {
  margin-top: 5px;
}